@import '../../../styles/variables/colors';

.wrapper {
  overflow: auto;
  height: 645px;

  &:hover {
    img {
      opacity: .4;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.post {
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;

  &:hover {
    img {
      opacity: 1;
    }
  }
}
